<div class="jumbotron main-view clearfix">
	<div class="col-sm-12 col-md-8">
		<h1>About Me</h1>

		<p>I’m Tasha, I live in South Petherton, Somerset, with my partner, Mike, our two cats, Hamilton and Nala, and two Cocker Spaniels, Luther and Digby. I started my career working as an associate lecturer at Yeovil College, teaching &#39;A&#39; level and GCSE psychology, I then began working with inpatient and community mental health services in the NHS, before moving on to work with a local mental health charity. I now have over 10 years’ experience working with the NHS, and mental health charities, including the Somerset Partnership NHS Foundation Trust, Somerset Talking Therapies, South Somerset Mind and The WATCH Project.</p>

		<h2>Qualifications</h2>

		<ul>
			<li>Certificate in Teaching in the Lifelong Learning Sector</li>
			<li>Postgraduate Certificate in Social Science Research Methods</li>
			<li>Diploma in Psychology</li>
			<li>BA (hons) Psychology with Sociology</li>
		</ul>

		<h2>Training</h2>

		<ul>
			<li>Certificate in Promoting Community Health and Wellbeing</li>
			<li>Introduction to Transactional Analysis TA101</li>
			<li>Mental Health First Aid</li>
			<li>ASIST Applied Suicide Intervention Skills Training</li>
			<li>Certificate in Community Mental Health Care</li>
			<li>Counselling Skills Certificate</li>
			<li>NVQ3 Advice and Guidance</li>
		</ul>
	</div>
	<div class="col-md-4 hidden-sm-down">
		<img src="img/aboutme.jpg" class="img-fluid"/>
	</div>
</div>