<div class="jumbotron main-view clearfix">
	<div class="col-sm-12 col-md-8">
	<h1>Contact</h1>
	<p>To contact me please:</p>

	<p>Call or Text: 07580529619
	If I am unable to answer please leave a message and I will return your call as soon as I can.</p>

	<p>Email: tasha_marsh@outlook.com</p>

	<div id="fb-hold"><a href="https://www.facebook.com/pages/Tasha-Marsh-Mentoring-and-Listening-Service/636124223152375?sk=timeline" target="_blank"><img id="fb-logo" src="img/FB-FindUsonFacebook-online-512.png"></a>
	</div>

	</div>
	<div class="col-md-4 hidden-sm-down">
		 <a class="twitter-timeline" data-chrome="noscrollbar" href="https://twitter.com/WellbeingTasha" data-widget-id="556111774169448449">Tweets by @WellbeingTasha</a>
        <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
        if (window.twttr.widgets) {
	        window.twttr.widgets.load();	
        } </script>
	</div>
</div>