<div class="jumbotron main-view clearfix">
	<div class="col-sm-12 col-md-8">
		<h1>Psychology</h1>

		<p>Psychology is the scientific study of people, the mind and behaviour. Whether you are looking to find out more about psychology in general, there is something specific you wish to know or you may be looking for support with GCSE or A level work, tutoring can support you on your learning journey. Sessions are planned with you and tailored to your specific requirements. Please like TM Wellbeing on Facebook or follow me on Twitter for up to date news on available psychology courses.</p>

		<h2>Appointments</h2>

		<p>You will be offered an initial appointment of up to 30 minutes, at no cost, this will be an opportunity to meet me and discuss how tutoring can work for you. Following your initial appointment, tutoring sessions will last for up to one hour.</p>

		<p>Tutoring sessions are on a one-to-one basis and can be offered through face-to-face or online appointments. Face-to-face sessions are held at my home office, based in South Petherton. Alternative venues available on request.</p>

		<p>Working from a home office I try to create a cozy and informal atmosphere, it’s important for you to feel relaxed and comfortable. I do have two cats and they sometimes choose to join me for sessions, please let me know if you would rather they stayed out of the way.</p>

		<h2>Prices</h2>
		<p>Psychology Tutoring one-to-one: £25 per session<br/>
		Psychology courses: prices vary</p>
	</div>
	<div class="col-md-4 hidden-sm-down">
		<img src="img/psychology.jpg" class="img-fluid"/>
	</div>
</div>