      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron main-view clearfix">
        <h1>First PAGE!</h1>
        <p>Tasha Marsh Wellbeing focusses on your emotional health and wellbeing, offering support to help you manage your emotional and mental health. Sessions are on a one-to-one basis and can be offered through face-to-face, online or telephone appointments.
		</p>
<!--         <p>
          <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
        </p> -->
      </div>