<div class="jumbotron main-view clearfix">
	<div class="col-sm-12 col-md-8">
		<h1>Wellness Coaching</h1>

		<p>Wellness Coaching offers you the opportunity to create health and wellbeing that works for you.  We will have a conversation to explore where you are now with your health and wellbeing, where you would like to be and build a personal plan for you to get there.</p>

		<p>The session is led by you and what you would like to discuss, some common topics are:</p>

		<ul>
			<li>Stress</li>
			<li>Sleep</li>
			<li>Relaxation</li>
			<li>Eating habits</li>
			<li>Fitness levels</li>
		</ul>

		<h2>Prices</h2>

		<p>Wellness Coaching sessions: £30 per session</p>
	</div>
	<div class="col-md-4 hidden-sm-down">
		<img src="img/WellnessCoaching.jpg" class="img-fluid"/>
	</div>
</div>