<div class="jumbotron main-view clearfix">
	<div class="col-sm-12 col-md-8">
		<h1>Wellbeing</h1>

		<p>What is wellbeing? The Oxford Dictionary defines wellbeing as the state of being comfortable, healthy or happy. TM Wellbeing will help you work towards being confident in your abilities to deal with the challenges of life. Sessions are tailored to you and your requirements, you may want to discuss:</p>

		<ul>
			<li>Stress</li>
			<li>Worry</li>
			<li>Low mood</li>
			<li>Time management</li>
			<li>Work/life balance</li>
			<li>General wellbeing</li>
			<li>Relaxation</li>
			<li>Work and career</li>
			<li>Low confidence and self-esteem</li>
			<li>Lifestyle changes</li>
		</ul>

		<h2>Appointments</h2>

		<p>You will be offered an initial appointment of up to 30 minutes, at no cost, this will be an opportunity to meet me, find out more information and discuss how the sessions can support your wellbeing. Following your initial appointment, sessions will last for up to one hour. You can book individual or blocks of sessions.</p>

		<p>Sessions are on a one-to- one basis and can be offered through face-to- face, online or telephone appointments. Face-to- face sessions are held at my home office, based in South Petherton. Alternative venues available on request.</p>

		<p>Working from a home office I try to create a cozy and informal atmosphere, it’s important for you to feel relaxed and comfortable. I do have two cats and they sometimes choose to join me for sessions, please let me know if you would rather they stayed out of the way.</p>

		<h2>Prices</h2>

		<p>Wellbeing sessions: £25 per session</p>
	</div>
	<div class="col-md-4 hidden-sm-down">
		<img src="img/wellbeing.jpg" class="img-fluid"/>
	</div>
</div>